@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;400;700&family=Montserrat&display=swap');
/* font-family: 'Jost', sans-serif;
font-family: 'Montserrat', sans-serif; */
:root {
  --color1: #f2f0f1;
  --color2: #BACDB0;
  --color3: #729B79;
  --color4: #475B63;
  --color5:#2E2C2F;
}

html body #root{
  overflow-x: hidden;
}

.Nav{
  margin: .8rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Nav button{
  height: 30px;
  width: 100px;
  margin: 0px 10px;
  border: none;
  border-radius: 15px;
  background-color: var(--color2);
  color: var(--color5);
  font-weight: bold;
}

.signUp, #hello{
  background-color: var(--color3);
  margin-left: 2px;
}

.Nav button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.Hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book--image{
  background-image: url(./book-cover.jpeg);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 400px; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: var(--color5);
}

.title--container{
  background-color: rgba(240, 240, 240, 0.424);
  border-radius: 20px;

}


.title--header{
  font-family: 'Montserrat', sans-serif;
  margin: 0px 3px;
}

.hero--form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero--textbox{
  height: 300px;
  width: 80vw;
  font-size: 1rem;
  padding: .5rem;
  font-family: 'Montserrat', sans-serif; 
}

.hero--textbox:focus{
  outline: 0px none transparent;
}

.submit--button{
  height: 30px;
  width: 100px;
  margin: 0px 10px;
  border: none;
  border-radius: 15px;
  background-color: var(--color2);
  color: var(--color5);
  font-weight: bold;
}

.submit--button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.comment--container{
  margin-top: 2rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment{
  width: 80vw;
  line-height: 1.5rem;
  padding-top: 1rem;
  border-top: 2px solid var(--color3);
  font-size: .95rem;
  margin: 0px;
}

.inner--comment--container{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.author, .date {
  font-size: .8rem;
  font-weight: 400;
  margin: .3rem;
}

.date{
  padding-bottom: 1rem; 
}